.IypTopDiv {
    max-width: 93%;
    background: #FFF;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto;
	left: 0;
	right: 0;
}
.IypTopDiv h1 {
    font-size:30px;
	font-family:Verdana;
	font-weight:bold;
    padding: 0px 0px 6px 40px;
    display: block;
    margin: 0px 0px 0px -30px;
    color: #000000;
    text-align: center;
}
.IypTopDiv h3 {
    font-size:18px;
	font-family:Verdana;
	font-weight:bold;
    padding: 0px 0px 6px 40px;
    display: block;
    margin: 0px 0px 0px -30px;
    color: #000000;
    text-align: center;
    text-decoration:underline;
}
.IypTopDiv h4 {
    font-size:10px;
	font-family:Verdana;
	font-weight:bold;
    padding: 0px 0px 6px 40px;
    display: block;
    margin: 0px 0px 3px -30px;
    color: #000000;
    text-align: center;
}
.IypTopDiv h5 {
    font-size:15px;
	font-family:Verdana;
	font-weight:bold;
    padding: 0px 0px 6px 40px;
    display: block;
    margin: 0px 0px 0px -30px;
    color: #000000;
    text-align: center;
}

.IypTopDiv h5.withUnderline {
    font-size:15px;
	font-family:Verdana;
	font-weight:bold;
    padding: 0px 0px 6px 40px;
    display: block;
    margin: 0px 0px 0px -30px;
    color: #000000;
    text-align: center;
    text-decoration:underline;
}

.IypTopDiv h6 {
    font-size:8px;
	font-family:Verdana;
	font-weight:bold;
    padding: 0px 0px 6px 40px;
    display: block;
    margin: 0px 0px 3px -30px;
    color: #000000;
    text-align: center;
    text-decoration:underline;
}


.IypTopDiv table{
	border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	width:100%;
	height:100%;
}

.IypTopDiv td.LAlign{
	vertical-align:middle;
	text-align:left;
	padding:7px;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}
.IypTopDiv td.RAlign{
	vertical-align:middle;
	text-align:right;
	padding:7px;
	font-size:10px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}
.IypTopDiv td.CAlign{
	vertical-align:middle;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}
.IypTopDiv td.LAlignNormal{
	vertical-align:middle;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Verdana;
	color:#000000;
}
.IypTopDiv td.RAlignNormal{
	vertical-align:middle;
	text-align:right;
	padding:7px;
	font-size:10px;
	font-family:Verdana;
	color:#000000;
}
.IypTopDiv td.CAlignNormal{
	vertical-align:middle;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Verdana;
	color:#000000;
}
.IypTopDiv td.BigContent{
	vertical-align:middle;
	text-align:right;
	padding:7px;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}
.IypTopDiv td.SmallContent{
	vertical-align:middle;
	text-align:right;
	padding:7px;
	font-size:9px;
	font-family:Verdana;
	color:#000000;

}


.IypReportGen {
	margin:0px;padding:0px;
	width:99%;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
	
	margin: 0 auto;
	left: 0;
	right: 0;
}

.IypReportGen.width70 {
	margin:0px;padding:0px;
	width:70%;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
	
	margin: 0 auto;
	left: 0;
	right: 0;
}

.IypReportGen table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	
}

.IypReportGen tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.IypReportGen table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.IypReportGen table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.IypReportGen tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.IypReportGen tr:hover td{
	
}
.IypReportGen tr:nth-child(odd){ background-color:#ffffff;}
.IypReportGen tr:nth-child(even)    { background-color:#ffffff; }
.IypReportGen td{
	vertical-align:middle;
	text-align:center;
	padding:7px;
	font-size:9px;
	font-family:Verdana;
	color:#000000;
	border:1px solid #000000;
	border-width:1px 1px 1px 0px;
}.IypReportGen tr:last-child td{
	border-width:0px 1px 0px 0px;
}.IypReportGen tr td:last-child{
	border-width:0px 0px 1px 0px;
}.IypReportGen tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.IypReportGen tr:first-child td{
	background-color:#f2efef;
	border:0px solid #000000;
	border-width:0px 1px 0px 0px;
	text-align:center;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}
.IypReportGen tr:first-child:hover td{
	background-color:#f2efef;
}
.IypReportGen tr:first-child td:first-child{
	border-width:0px 1px 1px 0px;
}
.IypReportGen tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.IypReportGen td.headtd{
	background-color:#f2efef;
	border:0px solid #000000;
	text-align:center;
	border-width:1px 1px 1px 0px;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}
.line{
	/* The dividing line: */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #000000;
	margin:1em 0;
	overflow:hidden;
}

.IypPlainTable {
	margin:0px;padding:0px;
	width:45%;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
	
	margin: 0 auto;
	left: 0;
	right: 0;
}

.IypPlainTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	
}

.IypPlainTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.IypPlainTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.IypPlainTable table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.IypPlainTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}
.IypPlainTable tr:first-child td:first-child{
	border-width:0px 1px 1px 0px;
}
.IypPlainTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.IypPlainTable td{
	vertical-align:middle;
	text-align:center;
	padding:7px;
	font-size:9px;
	font-family:Verdana;
	color:#000000;
	border:1px solid #000000;
	border-width:1px 1px 1px 0px;
}.IypPlainTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.IypPlainTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.IypPlainTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.IypPlainTable td.headtd{
	background-color:#f2efef;
	border:0px solid #000000;
	border-width:0px 1px 0px 0px;
	text-align:center;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}